h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: #42495b; }

h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

h3 {
  font-family: "Poppins", sans-serif; }

a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

p {
  font-size: 16px;
  color: #7a839e;
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

.subtitles {
  color: #7E76F9;
  font-family: "Lobster", cursive;
  font-size: 20px; }

header {
  display: flex;
  justify-content: space-around;
  z-index: 1; }

.logo {
  display: flex;
  padding-top: 20px; }
  .logo img {
    width: 84px; }
  .logo p {
    margin-top: 49px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 18px;
    line-height: 0.64;
    color: #484848; }

nav {
  padding-top: 55px; }
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    line-height: 1.56; }

button, .hover {
  border-radius: 26px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: none;
  color: black;
  background-color: white; }

.hover {
  background-image: linear-gradient(to left, #6156f9, #1a129f);
  color: white; }

/*  ___---------SECTION1---------___ */
.section1 {
  position: relative; }
  .section1 .imgRelative {
    position: absolute;
    display: block;
    z-index: -1;
    width: 57vw;
    right: 0;
    top: -1; }

.socialMedia {
  position: absolute;
  top: 45vh;
  left: 104px;
  width: 15px; }
  .socialMedia i {
    font-size: 15px;
    margin-top: 44px; }
    .socialMedia i .fab {
      color: #7E76F9;
      background-color: #7E76F9; }
  .socialMedia .line {
    margin-top: 44px;
    margin-left: 5px;
    border-left: 3px solid #7E76F9;
    height: 29px; }

.flex {
  display: flex;
  justify-content: space-around; }

.left {
  margin-top: 20vh;
  margin-left: 14vw;
  width: 545px; }
  .left h1 {
    font-weight: 400;
    margin: 0; }
  .left span {
    font-size: 74px;
    font-weight: 800; }
  .left p {
    width: 341px; }
  .left button, .left .hover {
    width: 216px;
    height: 49px;
    font-size: 16px;
    margin-top: 21px; }

.right {
  margin-left: 20px; }
  .right img {
    width: 600px; }

.img {
  display: none; }

.mousse {
  position: absolute;
  bottom: -50px;
  width: 80.1px;
  height: 80.1px;
  border-radius: 50px;
  box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
  background: #fff;
  text-align: center;
  left: 50%; }
  .mousse img {
    margin-top: 20px;
    width: 27.5px; }

/*  ___---------SECTION2---------___ */
.section2 {
  display: flex;
  justify-content: space-around; }

/*left div*/
.divLeft {
  margin-top: 97px;
  margin-left: 105px;
  /*marketing img*/ }
  .divLeft img {
    width: 653px; }

/*right div*/
.divRight {
  margin-top: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 866px;
  /*section 2 buton*/ }
  .divRight button, .divRight .hover {
    margin-top: 49px;
    width: 162.2px;
    height: 48.4px; }

/*little div*/
.petiteDiv {
  width: 533px;
  margin-top: 111px;
  margin-left: 80px; }

/*for margin*/
.margin {
  margin-top: 30px; }

/**/
/* ___SECTION3___ */
.section3 {
  margin-top: 127px; }
  .section3 h1 {
    margin-left: 196px;
    margin-bottom: 36px; }
  .section3 .subtitles {
    margin-left: 196px;
    margin-bottom: 8px;
    font-size: 25px; }

.flexbox {
  margin: 0 80px;
  padding-bottom: 228px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 10px; }

.card {
  margin: 56px auto;
  width: 367px;
  height: 410.2px;
  border-radius: 36px;
  box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);
  background: #fff; }

.cardHeader img {
  margin-left: 140px;
  margin-top: 21px;
  width: 90px; }

.cardHeader h5 {
  margin-top: 38px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #42495b; }

.cardBody {
  margin: 33px 32px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #42495b; }

.cardFooter {
  margin-left: 215px; }
  .cardFooter button, .cardFooter .hover {
    width: 93.5px;
    height: 29.7px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500; }

/**/
/*  ___---------SECTION4---------___ */
.section4 {
  text-align: center;
  background-color: rgba(126, 118, 249, 0.15);
  height: 820px; }
  .section4 h1 {
    margin-top: 10px; }
  .section4 .subtitles {
    padding-top: 90px; }

/* princing card */
.princingCard {
  margin: 0 auto;
  margin-top: 60px;
  width: 370px;
  height: 463px;
  background: #fff;
  border-radius: 26px; }

/* header of the card */
.princingHeader {
  margin-top: 57px;
  /* title of the card */ }
  .princingHeader .title {
    font-size: 28px;
    font-family: "Lobster", cursive; }

/* body of the card */
.princingBody {
  color: #7E76F9;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* text contents of the card */ }
  .princingBody .contents {
    margin: 0 40px;
    margin-top: 69px; }

/* price of the card */
.price {
  margin-top: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #1000ff; }

/* footer of the card */
.princingFooter {
  /* button of the card */ }
  .princingFooter button, .princingFooter .hover {
    margin-top: 40px;
    width: 170px;
    height: 52px;
    border: solid 1px #1000ff; }

/**/
/*  ___---------SECTION5---------___ */
/* newletters div */
.newslettersDiv {
  margin-bottom: 108px;
  text-align: center;
  /* subtitles of the title */
  /* title */
  /* part of the title */ }
  .newslettersDiv .subtitles {
    margin-top: 135px; }
  .newslettersDiv .h3 {
    font-size: 32px;
    margin-top: 10px; }
  .newslettersDiv span {
    font-weight: 600; }

/* newletters form */
form {
  /* form button */ }
  form button, form .hover {
    margin-left: 26px;
    width: 170px;
    height: 52px; }

/* input */
input {
  margin-top: 44px;
  width: 430px;
  height: 52px;
  text-align: left;
  color: #999999;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  background-color: #f6f7fb;
  padding-left: 30px;
  border: none; }

/* footer */
footer {
  margin: 0;
  position: relative;
  color: white;
  height: 566.3px;
  overflow: hidden;
  /* footer background img */ }
  footer img {
    margin: 0;
    position: absolute;
    z-index: -1;
    bottom: 0; }

/* div left*/
.div-left {
  width: 250px;
  margin-top: 250px;
  text-align: center;
  /* title */
  /* title h3 */ }
  .div-left h1 {
    font-family: "Dosis", sans-serif;
    color: white;
    font-weight: 800;
    margin-bottom: 24.6px; }
  .div-left h3 {
    margin-bottom: 23px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; }

/* social media */
.socialMedias {
  margin-left: 25px;
  /* social media i */
  /* class */ }
  .socialMedias i {
    margin-right: 25px; }
  .socialMedias .fab {
    font-size: 20px; }

/* div right*/
.div-right {
  margin-top: 253px;
  display: flex;
  justify-content: space-around;
  width: 710px;
  text-decoration: none; }

/* list title*/
.listTitle {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 30px; }

/* element of the list*/
li {
  list-style: none;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif; }

/* link */
li a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif; }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px; }
  /* ___SECTION1___*/
  .logo p {
    font-size: 20px; }
  .left {
    margin-top: 50px; }
  .socialMedia {
    top: 18vh;
    left: 5vw; }
  .mousse {
    bottom: -100px; }
  /* ___SECTION2___*/
  .section2 {
    margin-top: 50px; }
  .petiteDiv {
    width: auto;
    margin-right: 50px; }
  /* ___SECTION3___*/
  /* ___SECTION4___*/
  .princingCard {
    width: 300px;
    height: 480px; }
  /* ___SECTION5___*/
  /*footer*/
  footer {
    height: auto;
    background-color: #7E76F9;
    /* footer background img */ }
    footer img {
      display: none; }
  /* div left*/
  .div-lef {
    margin-top: 50px; }
  .div-right {
    margin-top: 100px; }
  /**/ }

/**/
@media screen and (max-width: 768px) {
  /* h1 */
  h1 {
    font-size: 25px; }
  h3 {
    font-size: 20px; }
  /* subtitles */
  .subtitles {
    font-size: 16px; }
  /* p */
  p {
    font-size: 12px; }
  /* ___HEADER___ */
  header {
    display: block; }
  /* logo */
  .logo {
    padding-top: 5px;
    margin-left: 15px; }
    .logo img {
      width: 44px; }
    .logo p {
      margin-top: 30px;
      margin-left: 8px; }
  /* topnav */
  nav {
    display: none; }
  /* ___SECTION1___ */
  .section1 {
    height: 100vh; }
  /* wave top img */
  .imgRelative {
    position: absolute;
    display: block;
    z-index: -1;
    width: 100px;
    right: 0;
    top: -1; }
  /* social media div group */
  .socialMedia {
    width: auto;
    top: 72vh;
    left: 25%;
    /* social media */ }
    .socialMedia i {
      margin: 0 15px;
      color: #6156f9; }
  .flex {
    display: block; }
  /* left div */
  .left {
    text-align: center;
    margin: 0;
    margin-left: 30px;
    width: auto;
    /* part of the title  */
    /* text content of the left div */
    /* button of the left div */ }
    .left span {
      font-size: 35px; }
    .left p {
      width: 80vw;
      margin: 0; }
    .left button, .left .hover {
      font-size: 12px;
      margin-right: 20px;
      margin-top: 50px;
      width: 200px;
      height: 40px; }
  /* social media img */
  .img {
    display: block;
    width: 200px;
    margin: 10px auto; }
  /* right div */
  .right {
    display: none; }
  /* mousse img/button */
  .mousse {
    width: 60px;
    height: 60px;
    bottom: -30px;
    left: 40%;
    /* mousse img */ }
    .mousse img {
      margin: auto;
      margin-top: 15px;
      width: 20px; }
  .line {
    display: none; }
  /* ___SECTION2___ */
  .section2 {
    display: block; }
  /* left div */
  .divLeft {
    margin: 0;
    margin-top: 60px; }
  /* right div */
  .divRight {
    margin: 0 20px;
    width: auto; }
  /* little div of the right div  */
  .petiteDiv {
    width: auto;
    margin: 0;
    margin-top: 20px; }
  /* ___SECTION3___ */
  .section3 {
    margin-top: 100px;
    /* title of the section  */
    /* substitles of the section  */ }
    .section3 h1 {
      margin: 0;
      margin-left: 20px; }
    .section3 .subtitles {
      margin: 0;
      margin-left: 20px;
      font-size: 14px; }
  .flexbox {
    margin: 0;
    padding-bottom: 90px; }
  /* service card */
  .card {
    margin: 50px 20px;
    width: 350px;
    height: 410px;
    background: #fff; }
  /* header of the card */
  .cardHeader {
    /* img of the card */ }
    .cardHeader img {
      margin-left: 100px;
      margin-top: 15px; }
  /* Body of the card */
  .cardBody {
    margin: 10px 15px; }
  /* footer of the card */
  .cardFooter {
    margin-left: 120px;
    /* button of the card */ }
    .cardFooter button, .cardFooter .hover {
      margin-top: 10px;
      width: 120px; }
  /* ___SECTION4___ */
  .section4 {
    padding-bottom: 100px;
    height: auto; }
    .section4 .subtitles {
      padding-top: 50px; }
  /* princing card */
  .princingCard {
    width: 310px;
    margin: 10px auto; }
  /* header of the card */
  .princingHeader {
    /* title of the card */ }
    .princingHeader .title {
      padding-top: 50px;
      font-size: 20px; }
  /* body of the card */
  .princingBody {
    /* text contents of the card */ }
    .princingBody .contents {
      margin-top: 50px; }
  /* footer of the card */
  .princingFooter {
    /* button of the card */ }
    .princingFooter button, .princingFooter .hover {
      width: 130px;
      height: 45px; }
  /* ___SECTION5___ */
  /* newletters div */
  .newslettersDiv {
    margin-bottom: 50px;
    /* subtitles of the title */ }
    .newslettersDiv .subtitles {
      margin-top: 50px;
      margin-bottom: 10px; }
  /* newletters form */
  form {
    /* form button */ }
    form button, form .hover {
      margin: 0;
      margin-top: 20px;
      width: 170px;
      height: 52px; }
  /* input */
  input {
    margin-top: 44px;
    width: 230px;
    height: 42px; }
  /* footer */
  footer {
    margin: 0;
    background-color: #7E76F9;
    height: auto;
    overflow: hidden;
    /* footer background img */ }
    footer img {
      display: none; }
  /* div left*/
  .div-left {
    margin-top: 50px; }
  /* social media */
  .socialMedias {
    /* each social media */
    /* class */ }
    .socialMedias i {
      margin-right: 25px; }
    .socialMedias .fab {
      font-size: 15px; }
  /* div right*/
  .div-right {
    display: block;
    margin-top: 60px;
    text-align: center; }
  .list {
    margin-bottom: 40px; }
  /* list title*/
  .listTitle {
    margin-bottom: 20px; }
  /**/ }

/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }
