/*  ___---------SECTION4---------___ */
.section4{
    text-align: center;
    background-color: $veryLightblue;
    height: 820px;

    h1{
        margin-top: 10px;
    }
    .subtitles{
        padding-top: 90px;
    }
}
