//Typo
$titre: 50px;
$sous-titre: 20px;
$contents: 16px;
$h5: 18px;
$lien: 16px;
$cardContents: 15px;

//Fonts
$lato: 'Lato', sans-serif;
$dosis : 'Dosis', sans-serif;
$lobster: 'Lobster', cursive;
$popins: 'Poppins', sans-serif;
$light: 300;
$regular : 400;
$medium : 500;
$semiBold: 600;
$etrabold: 800;

//colors
$lightblue: #7E76F9;
$gradientblue: linear-gradient(to left, #6156f9, #1a129f);
$titleColor: #42495b;
$veryLightblue: rgba(126, 118, 249, 0.15);
$lightgrey: #f6f7fb;
$blue: #1000ff;
$grey: #999999;

//Scale
$fullHeight: 100vh;

// CARDS

$cardImg: 90px;
$cardWidth: 366.8px;

//BREAKPOINTS
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;